body {
    font-family: "Arial", sans-serif;
}

section {
    text-align: center;
}

.cell {
    font-family: "Permanent Marker", cursive;
    width: 40px;
    height: 40px;
    cursor: pointer;
    line-height: 40px;
    font-size: 30px;
    color: #04c0b2;
    border-style: solid;
    border-color: #04c0b2;
}

.game--title {
    font-size: 5vw;
    color: #d7a62f;
    margin: auto;
}

.game--container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 128px;
    margin: auto;
    justify-content: center;
}

.board--container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 128px;
    margin: 4px 4px 4px 4px;
    background-color: #11213a;
}

.game--status {
    font-size: 50px;
    color: #d7a62f;
    margin: 20px auto;
}

.game--restart {
    background-color: #f7e4ac;
    width: 200px;
    height: 50px;
    font-size: 25px;
    color: #5586e2;
    box-shadow: 2px 2px 2px 2px #d86c23;
    border: 2px solid #d86c23;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }